.text-primary {
  font-size: 24px;
  font-weight: 400;

  @media screen and (max-width: $screen-1260) {
    font-size: 2rem;
    line-height: 3.6rem !important;
  }

  @media screen and (max-width: $screen-500) {
    font-size: 1.8rem;
  }
}
