*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-inter);
  font-weight: 400;
  color: #1a1a1a;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: white;
}

section {
  margin: 100px 0;
}

#wrapper {
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
}
