.hero {
  display: grid;
  grid-template-columns: 1fr 36.5%;
  grid-template-rows: 800px;
  gap: 223px;

  @media screen and (max-width: $screen-1400) {
    gap: 15rem;
  }

  @media screen and (max-width: $screen-1160) {
    grid-template-rows: 900px;
  }

  @media screen and (max-width: $screen-1024) {
    grid-template-rows: 700px max-content;
    grid-template-columns: 1fr;
    gap: 3rem;
    justify-content: center;
  }

  &-title {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1a1a1a;
    margin-bottom: 20px;
  }

  &-heading {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.24px;
    font-family: var(--font-jura);
    font-weight: 700;
    margin-bottom: 30px;

    @media screen and (max-width: $screen-1024) {
      font-size: 42px;
      line-height: 54px;
      margin-bottom: 16px;
    }
  }

  &-btn {
    display: inline-flex;
    width: max-content;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 58px;
    padding: 2.4rem 3.2rem;
    background-color: var(--color-primary);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #ffffff;

    @media screen and (max-width: $screen-1024) {
      font-size: 16px;
      font-family: var(--font-inter);
      padding: 1.6rem 2rem !important;
    }
  }

  &-card {
    position: relative;
    transition: all 0.8s ease-in-out;
    width: 330px;
    height: 454px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;

    @media screen and (max-width: $screen-1300) {
      width: 28vw;
      height: 32vw;
    }

    @media screen and (max-width: $screen-1024) {
      width: 34vw;
      height: 38vw;
    }

    @media screen and (max-width: $screen-768) {
      width: 40vw;
      height: 50vw;
    }

    @media screen and (max-width: $screen-600) {
      max-width: 320px;
      width: 320px;
      height: 450px;
    }

    @media screen and (max-width: $screen-400) {
      width: 250px;
      height: 350px;
    }

    &.active {
      width: 400px;
      height: 525px;

      @media screen and (max-width: $screen-1300) {
        width: 30vw;
        height: 38vw;
      }

      @media screen and (max-width: $screen-1024) {
        width: 40vw;
        height: 43vw;
      }

      @media screen and (max-width: $screen-768) {
        width: 48vw;
        height: 60vw;
      }

      @media screen and (max-width: $screen-600) {
        width: 360px;
        height: 500px;
      }

      @media screen and (max-width: $screen-400) {
        width: 250px;
        height: 380px;
      }

      .hero-card-info {
        transform: translateY(0);
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &-info {
      position: absolute;
      background: rgba(134, 192, 245, 0.7);
      backdrop-filter: blur(20px);
      width: 100%;
      bottom: 0;
      padding: 16px 20px 24px 24px;
      transform: translateY(100%);

      &::before {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
          270deg,
          rgba(255, 255, 255, 0) 0%,
          #ffffff 49.02%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: var(--font-inter);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.32px;
        color: var(--color-primary);
      }

      &-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 13px;

        font-family: var(--font-inter);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.32px;
        color: #1a1a1a;
      }

      &-price-amount {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      &-heading {
        font-weight: 600;
        filter: hue-rotate(65deg);
        // background-color: red;
      }

      &-user {
        display: flex;
        align-items: center;

        &-img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 8px;
        }
      }
    }
  }

  &-slider {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 525px;
    z-index: 2;

    &-current-slide {
      @media screen and (max-width: $screen-700) {
        color: white;
      }
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    &-controls {
      margin-top: 31px;
      display: flex;
      align-items: center;
      gap: 36px;
      flex-wrap: wrap;
      row-gap: 12px;
      z-index: 2;

      @media screen and (max-width: $screen-768) {
        margin-top: 20px;
      }

      @media screen and (max-width: $screen-400) {
        justify-content: center;
      }
    }

    &-btns {
      display: flex;
      align-items: center;
      gap: 32px;

      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          background-color: rgba(255, 255, 255, 0.4);
        }
      }
    }

    &-info {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-family: var(--font-inter);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.32px;
      color: #1a1a1a;
      opacity: 0.8;
    }

    &-line {
      height: 2px;
      width: 173px;
      background-color: white;
      backdrop-filter: invert;
      position: relative;

      @media screen and (max-width: $screen-400) {
        width: 30vw;
      }

      &::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        height: 2px;
        width: 32%;
        background-color: var(--color-primary);

        @media screen and (max-width: $screen-700) {
          display: none;
        }
      }
    }

    &-total-slide {
      color: white;
      z-index: 2;
    }
  }

  &-divider {
    width: 90%;
    height: 1px;
    background-color: #9ca1ce;
    margin-top: 52px;
    margin-bottom: 50px;
  }

  &-partner {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.32px;
    color: #061f48;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    &-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  &-text {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.32px;

    color: #1a1a1a;

    opacity: 0.8;

    @media screen and (max-width: $screen-1024) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &-top {
    &-right {
      padding-top: 120px;
      background-color: var(--color-primary);
      position: relative;

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: -5%;
        right: 40%;

        width: 40px;
        height: 40px;
        background: rgba(63, 197, 205, 0.35);
        box-shadow: 0px 4px 106px 200px rgba(63, 197, 205, 0.35);
        border-radius: 170.5px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        z-index: 1;

        @media screen and (max-width: $screen-1024) {
          display: none;
        }
      }

      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: -5%;
        right: 0;

        width: 100px;
        height: 100px;
        background: rgba(63, 205, 103, 0.35);
        box-shadow: 0px 4px 106px 200px rgba(63, 205, 103, 0.35);
        border-radius: 170.5px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        z-index: 0;

        @media screen and (max-width: $screen-1024) {
          width: 20px;
          height: 20px;
          bottom: 10%;
        }
      }

      @media screen and (max-width: $screen-1024) {
        width: 70vw;
        margin-left: auto;
        padding-top: 6rem;
        padding-bottom: 6rem;
      }

      @media screen and (max-width: $screen-700) {
        width: 100vw;
      }

      &-container {
        margin-left: -95px;

        @media screen and (max-width: $screen-700) {
          margin-left: 0;
          padding-left: var(--padding);
        }
      }
    }

    &-left {
      padding-top: 120px;
      padding-left: 30%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;

      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: -5%;
        left: 0;

        width: 100px;
        height: 100px;
        background: rgba(63, 197, 205, 0.35);
        box-shadow: 0px 4px 106px 200px rgba(63, 197, 205, 0.35);
        border-radius: 170.5px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        z-index: -1;

        @media screen and (max-width: $screen-1024) {
          width: 20px;
          height: 20px;
          bottom: 10%;
        }
      }

      @media screen and (max-width: $screen-1700) {
        padding-left: 28%;
      }

      @media screen and (max-width: $screen-1440) {
        padding-left: 20%;
      }

      @media screen and (max-width: $screen-1400) {
        padding-left: 15%;
      }

      @media screen and (max-width: $screen-1024) {
        padding-left: var(--padding);
      }

      @media screen and (max-width: $screen-768) {
        padding-top: 20px;
        padding-right: var(--padding);
      }

      @media screen and (max-width: $screen-500) {
        padding-top: 200px;
      }
    }
  }
}
